{% extends 'base.html' %}
{% block title %}Students{% endblock %}
{% block content %}

<div style="display:flex; justify-content:space-between; 
            align-items:center; margin-bottom:20px;">
    <h1>All Students</h1>
    <a href="/students/add" class="btn blue-btn">+ Add Student</a>
</div>

<table style="width:100%; border-collapse:collapse; 
              background:white; border-radius:10px;">
    <thead style="background:#1e293b; color:white;">
        <tr>
            <th style="padding:12px;">#</th>
            <th style="padding:12px;">Name</th>
            <th style="padding:12px;">Email</th>
            <th style="padding:12px;">Phone</th>
            <th style="padding:12px;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for s in students %}
        <tr style="border-bottom:1px solid #eee;">
            <td style="padding:12px;">{{ loop.index }}</td>
            <td style="padding:12px;">{{ s.name }}</td>
            <td style="padding:12px;">{{ s.email }}</td>
            <td style="padding:12px;">{{ s.phone }}</td>
            <td style="padding:12px;">
                <a href="/students/view/{{ s.id }}"
                   class="btn blue-btn"
                   style="padding:6px 12px; font-size:12px;">View</a>
                <a href="/students/edit/{{ s.id }}"
                   class="btn orange-btn"
                   style="padding:6px 12px; font-size:12px;">Edit</a>
                <a href="/students/delete/{{ s.id }}"
                   class="btn"
                   style="padding:6px 12px; font-size:12px;
                          background:#ef4444; color:white;"
                   onclick="return confirm('Delete?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}